<footer>
  <h2 class="footer-title">WEAR A PAW</h2>
  <div class="footer-info">
    <div class="footer-mission"> 
     <p>Wear a paw is not just a clothing brand but a step towards speaking for the voiceless. Globally we are exploiting animals for fashion, food and entertainment. When you wear a paw you speak for a cause in each outfit as each print speaks for the animals and a cause. </p>
    </div>
    <div class="footer-links">
      <h3>Shop</h3>
      {% for link in section.settings.menu1.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="footer-links">
      <h3>Legal</h3>
      {% for link in section.settings.menu2.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="footer-links">
      <h3>Help & Contact</h3>
      {% for link in section.settings.menu3.links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="footer-desc">
    <div class="footer-desc-social">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="footer-desc-studio">
      <span>designed by</span>
      <span>Lolo Pipa Design Studio</span>
    </div>
  </div>
</footer>

<style>
  footer{
    background-color: #DA1313;
    padding: 0 100px;
  }
  .footer-title {
    text-align: center;
    font-size: 18vw;
    color: #FDFDF3;
    font-family: 'Anton', sans-serif;
    margin: 0;
  }
  .footer-info{  
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
  .footer-mission{
    max-width: 560px;
    display: flex;
    color: #FDFDF3;
    justify-self: flex-start;
  }
  .footer-links a{
    display: block;
    color: #FDFDF3;
  }
  .footer-links h3{
   text-decoration: underline;
   color: #FDFDF3;
  }
  .footer-desc{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 100px 0 50px 0;
  }
  .footer-desc-social {
    display: flex;
  }
  .footer-desc-social span{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #FDFDF3;
    margin: 0 10px;
  }
  .footer-desc-studio span{
    color: #FDFDF3;
    display: block;
  }
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu1",
      "label": "Select Footer Menu 1",
      "info": "Displays the menu items assigned"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Select Footer Menu 2",
      "info": "Displays the menu items assigned"
    },
    {
      "type": "link_list",
      "id": "menu3",
      "label": "Select Footer Menu 3",
      "info": "Displays the menu items assigned"
    }
  ]
}
{% endschema %}