<footer
   data-cascade
   style="--animation-order: 1;"
   class="scroll-trigger animate--slide-in"
   >
  <h2 class="footer-title">WEAR A PAW</h2>
  <div class="px-20 px-md-40">
    <div class="footer-info">
      <div class="footer-mission"> 
      <p>Wear A Paw isn't just fashion; it's a purposeful statement. Our unique prints echo with distinctive voices, telling untold stories in the most creative and empathetic manner, making us a beacon of purpose-led style. </p>
      </div>
      <div class="footer-links footer-links-first">
        <h3>Company</h3>
        {% for link in section.settings.menu1.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
      <div class="footer-links footer-links-second">
        <h3>Legal</h3>
        {% for link in section.settings.menu2.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="footer-desc">

      <div class="footer-desc-studio">
        <span>designed by</span>
        <span>
          Lolo Pipa Design Studio
        </span>
      </div>

      <div class="footer-desc-social">
      {%- if settings.social_instagram_link != blank -%}
          <span>     
            <a href="{{ settings.social_instagram_link }}">
              {%- render 'icon-instagram' -%}
              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
            </a>
          </span>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <span>     
            <a href="{{ settings.social_facebook_link }}">
              {%- render 'icon-facebook' -%}
              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
            </a>
          </span>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <span>     
            <a href="{{ settings.social_youtube_link  }}">
              {%- render 'icon-youtube' -%}
              <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
            </a>
          </span>
        {%- endif -%}
        {%- if settings.social_twitter_link != blank -%}
          <span>     
            <a href="{{ settings.social_twitter_link }}">
              {%- render 'icon-twitter' -%}
              <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
            </a>
          </span>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

<style>
  footer{
    background-color: #DA1313;
  }
  .footer-title {
    text-align: center;
    font-size: 21vw;
    color: #FDFDF3;
    font-family: 'Anton', sans-serif;
    margin: 0;
    letter-spacing: -8px;
  }
  .footer-info{  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
  }
  .footer-mission{
    color: #FDFDF3;
    justify-self: flex-start;
    grid-area: 1 / 1 / 1 / 7;
  }
  .footer-links a{
    display: block;
    color: #FDFDF3;
  }
  .footer-links h3{
   text-decoration: underline;
   color: #FDFDF3;
   letter-spacing: 0px;
  }
  .footer-links-first {
    grid-area:  2 / 1 / 2 / 4;
  }
  .footer-links-second {
    grid-area:  2 / 4 / 2 / 7;
  }

  .footer-links-first, .footer-links-second{
    text-align: center;
    margin-right: 0;
  }
  
  .footer-desc{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 40px 0;
    grid-gap: 20px;
  }
  .footer-desc-social {
    display: flex;
    align-items: center;
  }
  .footer-desc-social span{
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

   .footer-desc-social span a {
    color: #fdfdf3;
   }

  .footer-desc-studio {
    text-align: center;
  }
  .footer-desc-studio span{
    color: #FDFDF3;
    display: block;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 1.3;
  }

  @media screen and (min-width: 750px) {
    .footer-info{  
      display: grid;
      grid-template-columns: 5fr 1fr 1fr;
      text-align: left;
    }
    .footer-desc{
      grid-template-columns: 6fr 1fr;
    }

    .footer-desc-studio {
      text-align: left;
    }
     .footer-mission, 
     .footer-links-first, 
     .footer-links-second {
      grid-area: unset;
     }

     .footer-mission{
      padding-right: 40px;
      max-width: 44rem;
    } 

    .footer-links-first, .footer-links-second{
      text-align: left;
      margin-right: 10rem;
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu1",
      "label": "Select Footer Menu 1",
      "info": "Displays the menu items assigned"
    },
    {
      "type": "link_list",
      "id": "menu2",
      "label": "Select Footer Menu 2",
      "info": "Displays the menu items assigned"
    }
  ]
}
{% endschema %}